.pullDown.flip .pullDownIcon,
.pullUp .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
    -moz-transform: rotate(-180deg) translateZ(0);
}

.expand,
.index-show-content,
.pullUp,
.search-btn,
footer p,
header {
    text-align: center;
}

.detail-show .show-lead h3,
.index-show-lead h3,
.show-content,
footer p {
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}

#topNav,
.index-show-lead h3,
.overlay,
.show-content,
.swipe,
footer p {
    overflow: hidden;
}

.swiper-slide h2 img {
    width: 100%;
    height: auto;
}

img {
    border: 0;
    vertical-align: middle;
}

.pullUp {
    margin-top: .2rem;
    line-height: .4rem;
    font-size: .14rem;
    color: #999;
    background-color: #fff;
}

.pullUp .pullUpIcon {
    background: url(../images/arrow.png) center no-repeat;
    width: .15rem;
    height: .15rem;
    position: absolute;
    margin-top: .12rem;
    margin-left: 30%;
    background-size: auto 100%;
    -webkit-background-size: auto 100%;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
    -moz-background-size: auto 100%;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 250ms;
}

.nav-arrow,
.swipe,
.swiper-title p,
header,
nav {
    position: relative;
}

.pullDown.loading .pullDownIcon,
.pullUp.flip .pullUpIcon,
.pullUp.loading .pullUpIcon {
    -webkit-transform: rotate(0) translateZ(0);
    -moz-transform: rotate(0) translateZ(0);
}

.pullDown.loading .pullDownIcon,
.pullUp.loading .pullUpIcon {
    background-image: url(../images/loader.png);
    background-size: 100% auto;
    background-position: 0 100%;
    -webkit-transition-duration: 0s;
    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-transition-duration: 0s;
    -moz-animation-name: loading;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0) translateZ(0);
    }
    to {
        -webkit-transform: rotate(360deg) translateZ(0);
    }
}

header {
    height: .45rem;
    margin-left: .12rem;
    margin-right: .12rem;
}

header img {
    width: .18rem;
}

.center-logo,
.languages-icon,
.search-icon {
    line-height: .45rem;
}

header .center img {
    width: 1.04rem;
}

.center {
    display: inline-block;
}

#topNav {
    width: 100%;
    color: #fff;
}

#topNav .swiper-slide {
    padding: 0 12px;
    width: auto;
    text-align: center;
    font-size: 14px;
}

#topNav .swiper-slide a {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    display: block;
    color: #fff;
    padding-top: 6px;
}

.nav-arrow,
.nav-title p,
.swiper-title p {
    display: inline-block;
}

#topNav .active a {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    color: #fff;
    border-bottom: 3px #fff solid;
    padding-bottom: 9px;
}

.swipe {
    padding-top: 20px;
    width: 100%;
    float: left;
    visibility: visible;
    height: auto;
}

nav {
    height: .4rem;
    background-color: #ca4040;
    padding: 0 .1rem;
}

.nav-arrow {
    z-index: 9999;
    margin-left: .02rem;
    line-height: .4rem;
}

.nav-arrow img {
    width: .15rem;
}

.nav-title p {
    height: 100%;
    line-height: .4rem;
    color: #fff;
    margin-left: .1rem;
    font-size: .14rem;
}

.nav-title {
    line-height: .32rem;
}

.swiper-title p {
    font-size: 1.2em;
    color: #fff;
}

.swiper-title {
    font-size: .14rem;
    margin-left: .12rem;
    margin-right: .12rem;
    height: .43rem;
    min-height: 43px;
}

.show-content {
    padding: 0 0 .5rem;
    width: 100%;
    height: auto;
}

#swiper-pic {
    margin-top: 1.48rem;
}

.languages {
    width: 1.4rem;
    position: absolute;
    line-height: .21rem;
    z-index: 10000;
    color: #000;
    background: #fff;
    font-size: .18rem;
    left: -.12rem;
    height: 95vh;
    display: none;
    box-shadow: 1px 1px 3px #888;
}

.languages ul li {
    margin-left: .12rem;
    line-height: .23rem;
    margin-bottom: .15rem;
    font-size: .14rem;
}

.index-show,
.show {
    height: 100%;
    margin: 0 .12rem;
}

.languages ul li:first-child {
    padding-top: .26rem;
}

.languages ul li:nth-child(2) {
    font-weight: 600;
}

.show {
    padding-top: .16rem;
}

.img-3-small img {
    width: .95rem;
    height: .54rem;
}

.img-1-big img {
    width: 100%;
    height: 100%;
}

.index-show-content {
    height: .35rem;
    padding-top: .1rem;
    border-bottom: 1px #ccc solid;
}

.normal {
    padding-top: 0;
}

.view-more a {
    border: .01rem solid #f69;
    color: #f69;
    height: .18rem;
    display: block;
    border-radius: 10px;
    font-size: .1rem;
    padding: .035rem .05rem;
    line-height: .18rem;
}

.pic {
    line-height: .2rem;
}

.pic img {
    height: .15rem;
}

.show-content-pic {
    margin-top: .02rem;
}

.pic span {
    font-size: .1rem;
    margin-left: .03rem;
}

.voice {
    line-height: .25rem;
}

.voice img {
    height: .18rem;
    margin-left: .09rem;
}

.index-show-lead h3 {
    font-size: .14rem;
    margin-bottom: .26rem;
    margin-top: .15rem;
    width: 100%;
    height: auto;
    line-height: .25rem;
}

.swiper-container,
.swiper-slide {
    width: 100vw;
}

.show-lead h3 {
    font-size: .11rem;
    margin-bottom: .26rem;
}

.dianzan span {
    font-size: .12rem;
    color: #666;
}

.dianzan img {
    height: .15rem;
}

.dianzan-count {
    margin-left: .07rem;
    margin-top: .02rem;
}

.show p {
    font-size: .11rem;
    color: #fff;
    line-height: .24rem;
    margin-top: 3%;
}

.swiper-wrapper {
    width: 100vw;
    height: auto;
}

.index-show-video {
    position: relative;
}

.expand,
.overlay {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
}

.overlay {
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: rgba(0, 0, 0, .2);
    -webkit-transition: all .5s;
    transition: all .5s;
}

.expand {
    z-index: 100;
    width: 60px;
    height: 60px;
    color: #fff;
    line-height: 50px;
    font-weight: 700;
    font-size: 30px;
    border-radius: 30px;
    bottom: 50%;
    margin: 0 auto -30px;
    cursor: pointer;
}

.expand img {
    width: .4rem;
    height: auto;
}

.detail-show {
    height: 100%;
    margin: 0 .12rem;
    padding-top: .1rem;
}

.detail-show .show-lead h3 {
    margin-bottom: .06rem;
    font-size: .12rem;
}

.detail-time-tag,
.show-content-title {
    margin-bottom: .1rem;
}

.nav-time {
    color: #999;
    font-size: .1rem;
}

.nav-tag {
    margin-left: .5rem;
    font-size: .12rem;
    color: #999;
}

.detail-time-tag {
    height: .2rem;
    margin-top: .12rem;
}

.show-content-title p {
    color: #c00;
    font-size: .15rem;
}

.show-content-video {
    height: .72rem;
}

.show-content-video img {
    width: 100%;
}

.show-content img {
    width: 100%;
    margin-top: .18rem;
    margin-bottom: .2rem;
}

.detail-show p {
    font-size: .14rem;
    line-height: .25rem;
}

.detail-dianzan {
    height: 1.2rem;
    display: block;
    margin: 0 auto;
}

.detail-more-a,
.detail-more-title p,
.search {
    margin-left: .12rem;
    margin-right: .12rem;
}

.detail-dianzan img {
    width: .4rem;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.detail-dianzan-area {
    line-height: .9rem;
}

.detail-more-title {
    border-top: #ccc 1px solid;
    border-bottom: #ccc 1px solid;
    margin-bottom: .17rem;
    height: .4rem;
}

.detail-more-title p {
    color: #333;
    font-size: .16rem;
    line-height: .4rem;
    font-weight: 600;
}

.detail-more-a {
    margin-bottom: .21rem;
    font-size: .14rem;
}

.detail-more-a p a {
    line-height: .4rem;
}

.search {
    margin-top: .58rem;
    height: .4rem;
    border: 1px solid #c00;
}

.search img {
    margin-top: .1rem;
    width: .2rem;
    margin-left: .07rem;
}

.search input {
    height: .2rem;
    padding: .1rem 0;
    border: none;
    margin-left: .12rem;
    font-size: .15rem;
    line-height: .18rem;
}

.search-btn {
    width: 1.4rem;
    height: .34rem;
    background-color: #c00;
    margin: 1rem auto 0;
    line-height: .34rem;
    color: #fff;
    border-radius: .1rem;
    font-size: .14rem;
}

footer p,
footer p a {
    color: #fff;
    font-size: .1rem;
}

footer {
    height: 1.66rem;
    background: url(../images/bg@2x.png) #222;
    padding: .2rem 0;
}

footer p {
    line-height: .3rem;
    padding: 0 .12rem;
}

footer p a {
    padding: 0 .05rem;
}

.foot {
    padding: .2rem 0;
}